/*.MoviesList{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    padding: 35px 50px;*/

/*    flex-basis: 20%; !* Ширина ряду, можна налаштувати за вашим вибором *!*/
/*}*/

/* MoviesList.module.css */

.MoviesList {
    width: 100%; /* Ширина контейнера */
    display: flex;
    justify-content: center; /* Центрування рядів */
}

.MovieRow {
    display: flex;
    flex-wrap: wrap; /* Рядки замість стовпців */
    justify-content: space-around; /* Рівномірний розподіл елементів */
    margin: 0 auto; /* Центрування рядів */
    max-width: 1200px; /* Максимальна ширина рядів */
}

.MoviesButton{
    display: flex;
justify-content: center;
    margin: 30px;
    padding: 10px;
}
.MoviesButton div{
    padding: 10px;
}

@keyframes zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

.MoviesButton button{
    background-color:cornflowerblue;
    width: 40px;
    border-radius: 20px;
    border: 1px solid beige;
    font-weight: bold;
    color: black;

}

.MoviesButton button:hover{
    transition: background-color 0.3s ease;
    animation: zoom 0.5s forwards;
    cursor: pointer;
}


